
.navbar {
  width: 1440px;
  height: 80px;
  background-color: #8E8882;
}

.nav-item {
  text-align: left;
  vertical-align: center;
}

.nav-link {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: bold;
  color: #343434;
}

.nav-link:hover {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: bold;
  color: #343434;
  border: 1pt;
  border-color: #343434;
}

.navbar-brand img {
  height: 60px;
  object-fit: cover;
  text-align: right;
  vertical-align: center;
}

.gallery-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 360px;
}

.gallery-title {
  height: 300px;
  width: 360px;
}

.gallery-center {
  text-align: center;
}

img.gallery-crop {
  object-fit: cover;
  width: 360px;
  height: 264px;
}

.set_img {
  display: inline-block;

}

/*.grid {
  display: grid;
  grid-template-columns : repeat(3,1fr);
  grid-template-rows: repeat(2, 20vw);
  grid-gap: 10px;
}*/

.img:hover {
    border: 10px;
    border-color: black;
}

.swatch {
  width: 168px;
  height: 141px;
  background-color: #e2ceb2;
  display: inline-block;

}

div.swatch {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.swatch-rgb {
  display: block;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #101010
}

/* To set th RGB and swatch together */
.swatch-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 170px;
}

/* To get RGB palettes into a row */
.swatch-palette {
  position: center;
  display: inline-block;
}


.tag {
  width: 80px;
  height: 23px;
  border-radius: 3px;
  background-color: #dcccb4;
}

#tag-display {
  position: center;
  display: inline-block;
}

#tag-container {
  vertical-align: top;
  width: 170px;
}

a.tag-link: {
  width: 64px;
  height: 15px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #101010;
}

.detail-title {
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #101010;
  display: block;
}

img.detail {
  display: block;
  /* float: right allows items to text wrap */
  float: right;  
  /* Stops the wrapping */
  clear: right;

}

.detail-artist {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  display: block;
}

.search-center {
  display: inline-block;
  text-align: center;
}

.medium {
  width: 455px;
  height: 20px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.medium .text-style-1 {
  color: #888888;
}

.detail-img-border {
  width: 552px;
  height: 635px;
  background-color: #ffffff;
}

.visit-view {
/*  position: center;*/
  display: inline-block;
  text-align: center;

}

.visit-container {
  display: inline-block;
  text-align: center;
}

.visit-crop {
  object-fit: cover;
  width: 180px;
  height: 132px;
  padding: 5px;
}


#search_id {
  display: block;
  width: 500px;

}