 h1 {
    color: red;
    font-family: Garamond;
 }

 h2 {
    font-family: Garamond;
 }

 .gallery {
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: center;
    align-content: center }