{% extends 'base.html' %}

{% block title %} {{ art_id.art_title }} {% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <h1 class="detail-title">{{ art_id.art_title }}</h1>
  <h2 class="detail-artist">{{ art_id.artist.artist_name }}</h2>

  <a href="/{{ art_id.art_image }}">
    <img class="detail" src="/{{ art_id.art_thumb }}" alt={{ art_id.art_title }}>
  </a>


    {% for item in art_id.tags %}
      <div id="tag-display">
      <a href="/tags/{{ item.tag_code }}" class="tag-link">
        <span class="tag">{{ item.tag_code }}</span>
      </a>
      </div>
    {% endfor %}

      <p><b>Medium:</b> {{ art_id.medium_code }}</p>
      <p><b>Art Type:</b> {{ art_id.type_code }}</p>

  <!--To get the last 5 RGB codes from the color palette-->
  <!--I personally perferred the last 5-->
  {% for rgb in art_id.palette_code[-5:] %}
    <div id=swatch-palette> 
      <div id=swatch-container>
        <div class="swatch"
        style="background-color: rgb{{ rgb.c_palette }}">
        </div>
        <span class="swatch-rgb">{{ rgb.c_palette }}</span>
      </div>
    </div>
  {% endfor %}

  <br/>
  <br/>
  <!--To get the first 3 RGB codes from the swatch-->
<!--   {% for rgb in art_id.palette_code[:3] %}
      <div class="swatch" 
        style="background-color: rgb{{ rgb.c_palette }};">
      </div>
      <h5>{{ rgb.c_palette }}</h5>
  {% endfor %} -->


<!--       {% for data in visit %}
      <div>
        <p><a href="/artwork/{{ data.artwork_id }}">
          <img src="/{{ data.art_thumb }}" alt={{ art_id.art_title }}>
  </a></p>
        {% else %}
        <p>You haven't viewed anything else yet.</p>
      {% endfor %} -->

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
{% endblock %} 