{% extends 'base.html' %}

{% block title %} {{ art_id.art_title }} {% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="/static/css/style.css"/>
</head>

<body>

<div id="page-wrap">
<br>
<br>

<div class="artwork">
<div class="artwork-details" id="details-info">
  <h1 id="detail-title">{{ art_id.art_title }}</h1>
  <h2 id="detail-artist">{{ art_id.artist.artist_name }}</h2>

    {% for item in art_id.tags %}
      <div id="tag-display">
  
      <a href="/tags/{{ item.tag_code }}" class="tag-link">

        <span class="tag">{{ item.tag_code }}</span>
      </a>
      </div>
    {% endfor %}
    <br>
    <br>

      <p><b>Medium:</b> {{ art_id.medium_code }}<br>
      <b>Art Type:</b> {{ art_id.type_code }}<br>
      <b>Object Year:</b> {{ art_id.obj_date }}</p>
  </div>


<div class="artwork-details-img">
  <a href="/{{ art_id.art_image }}">
    <img class="detail" src="/{{ art_id.art_thumb }}" alt={{ art_id.art_title }}>
  </a>
</div>
</div>

<br>

<div class="palettes">
  <!--To get the last 5 RGB codes from the color palette-->
  <!--I personally perferred the last 5-->
  {% for rgb in art_id.palette_code[-5:] %}
    <section class="swatch-palette"> 
      <div class="swatch-container">
        <div class="swatch"
        style="background-color: rgb{{ rgb.c_palette }}">
        </div>
        <span class="swatch-rgb">{{ rgb.c_palette }}</span>
      </div>
    </section>
  {% endfor %}

  <button type="button" class="toggle-btn-rgb">More Colors</button> 

  <!--To get the first 3 RGB codes from the swatch-->

  <section id="swatch-hide">
    {% for rgb in art_id.palette_code[:3] %}
    <div class="swatch-palette"> 
      <div class="swatch-container">
        <div class="swatch"
          style="background-color: rgb{{ rgb.c_palette }};">
        </div>
          <span class="swatch-rgb">{{ rgb.c_palette }}</span>
      </div>
    </div>
    {% endfor %}
   </section>

</div>

<section class="views">
  <button type="button" class="toggle-btn">Recently Viewed</button> 

  <div id="visit-hide">
    {% for data in visit %}
      <div class="visit-view">
        <div class="visit-container"
          <a href="/artwork/{{ data.artwork_id }}">
            <img src="/{{ data.art_thumb }}" class="visit-crop" alt={{ art_id.art_title }}></a>
        </div>
      </div>
      {% endfor %}
    </div>

</div>
</section>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript"src="/static/js/artwork_detail.js"></script>
</body>
{% endblock %} 