{% extends 'base.html' %}

{% block title %} {{ art_id.art_title }} {% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
</head>

<body>
  <h1>{{ art_id.art_title }}</h1>
  <h2>{{ art_id.artist.artist_name }}</h2>

  <a href="/{{ art_id.art_thumb }}">
    <img src="/{{ art_id.art_thumb }}" alt={{ art_id.art_title }}>
  </a>
  <p>tags?</p>
  <p>Medium: {{ art_id.medium_code }}</p>>
  <p>Art Type: {{ art_id.type_code }}</p>

  {% for rgb in art_id.palette_code %}
    <p>{{ rgb.c_palette }}</p> <!-- needed to get attribute -->
  {% endfor %}

  </div>

  <script src="magnific-popup/jquery.magnific-popup.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
{% endblock %} 