{% extends 'base.html' %}

{% block title %} The Gallery {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}
<div id="page-wrap">

<br>

<section class="intro">
  <h1>Welcome to Palette!</h1>
  <p>
  </section>

<div class="gallery-row">
  <div class="gallery-col">
      {% for art in arts %}
        <div class="gallery-container">
          <a href="/artwork/{{ art.artwork_id }}">
            <img src=" /{{ art.art_thumb }}" class="gallery-crop"  style="width:100%" alt={{ art.art_title }}/>
          </a>
          <p><span class="gallery-title">{{ art.art_title }}</span></p>
        </div>
    {% endfor %}
</div>
</div>

</div>

{% endblock %}
