{% extends 'base.html' %}

{% block title %} The Artist's Color Palette {% endblock %}

{% block content %}
  <div>
    <ul>
      {% for image in images %}
<!--         {% for art_id in art_ids %}   -->
        <li>
          <a href=/artwork/{{ art_id }}">
          <img src="static/images/{{ image.art_image }}" alt={{ image.art_image }}>
          <a/>
        </li>
<!--         {% endfor %} -->
      {% endfor %}

      {% for title in titles %}
        <li>
          <h5>{{ title.art_title }}</h5>
        </li>
      {% endfor %}
    </ul>
  </div>


{% endblock %}
