{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block head %}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css"/>
</head>

{% endblock %}


{% block content %}


<form action="/search-results" id="search_form" method="POST">
<!--   <label for="search">Search</label> -->
  <select name="search" id="search_id" data-placeholder="Enter letters to search categories below." style="width: 50%">
  </select>
<input type="submit" class="btn-submit">
</form>

<div id="search"></div> 



<script type="text/javascript" src=/static/js/search.js></script>

{% endblock %}