{% extends 'base.html' %}

{% block title %} Upload Personal Image {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}
    <body>
        <br>
    <h1><span class="upload-title">Upload Personal Image</span></h1>
<div class="upload">
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
</div>
<section>
    <img src="/static/app_images/png_img.png" id="center"/>
</section>
    </body>
{% endblock %}