{% extends 'base.html' %}

{% block title %} Your Palette {% endblock %}

{% block content %}
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
    <div id="page-wrap">
    <br>

      <h1>Here's your personal color palette!</h1>
      <br>
        <section class="artwork-details">
          <img src="/static/user_images/{{ filename }}" class ="detail" alt={{ filename }}>
        </section>

        <div class="u-palettes">
          {% for item in u_color_pal %}
            <div class="swatch-palette"> 
              <div class="swatch-container">
                <div class="swatch"
                 style="background-color: rgb{{ item }}">
                </div>
                  <span class="swatch-rgb">{{ item }}</span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
  </body>
{% endblock %}